<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body style="background-color: #8000ff">
    <div class="container">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title display-4"><%= post.userName %>'s Activity</h4>
          <div class="card-subtitle text-muted mb-4">
            <%= post.createdAt.toLocaleDateString() %>
          </div>
          <h5>Message:</h5>
          <div class="card-text mb-4"><%= post.message %></div>
          <h5>Image:</h5>
          <div class="card-text mb-4"><%= post.imageUrl %></div>
          <a href="/" class="btn btn-primary">All Activities</a>
          <a href="/posts/edit/<%= post.id %>" class="btn btn-secondary"
            >Edit</a
          >
          <form action="/posts/<%= post.id %>" method="POST" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
